body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.center {
    margin: 30px;
    position: absolute;
    width: 400px;
    background: black;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.center h1 {
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}

.center .txt_field {
    position: relative;
    margin-bottom: 30px;
}

.center .txt_field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    background: transparent;
    transition: 0.2s;
}

.center .txt_field label {
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s;
}

.center .txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: 0.2s;
    transform: scaleX(0);
    transform-origin: right;
}

.center .txt_field input:focus~label,
.center .txt_field input:valid~label {
    top: -5px;
    color: white;
}

.center .txt_field input:focus~span::before,
.center .txt_field input:valid~span::before {
    transform: scaleX(1);
    transform-origin: left;
}

.center .pass {
    margin: -5px 0 20px 5px;
    text-align: left;
    color: #a6a6a6;
    cursor: pointer;
}

.center button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: red;
    border-radius: 25px;
    font-size: 18px;
    margin: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.center button:hover {
    border-color: #2691d9;
    background: white;

}

.busqueda{
    display: flex;
    align-items: center; 
}


.busqueda input{
    padding: 8px; 
    border-radius: 5px; 
    border: 1px solid white; 
}

.busqueda button {
    padding: 8px 15px; 
    border-radius: 5px; 
    border: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
}